* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*<-------------------------------------------------------------------------------------------------------------------------------- INTRODUZCO FUENTES --------------------------------------------------------------------->*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS GENERALES ---------------------------------------------------------------------------------------------------------->*/
/*<------------------- ETIQUETAS DE ANIMACIONES ----------------------->*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

body {
  background-color: aquamarine; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

h1 {
  font-family: 'Rubik Dirt', cursive; }

h2, h3 {
  font-family: 'Rubik Mono One', sans-serif; }

h4, h5, h6 {
  font-family: 'Quicksand', sans-serif; }

p {
  font-family: 'Quicksand', sans-serif; }

body {
  background-color: darkcyan;
  width: 100%; }

/*<---------------------------------------------------------------------- ETIQUETAS DE GRID -------------------------------------------------------------------------->*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1.5fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main main" "main main" "footer footer "; }
  .contenedor .header {
    grid-area: header; }
  .contenedor .footer {
    grid-area: footer; }
  .contenedor .aside2 {
    grid-area: aside2; }
  .contenedor .aside1 {
    grid-area: aside1; }
  .contenedor .main {
    grid-area: main; }

.contenedor-equipo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 6fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "amain-equipo " "footer"; }
  .contenedor-equipo .header {
    grid-area: header; }
  .contenedor-equipo .main-equipo {
    grid-area: main-equipo; }
  .contenedor-equipo .footer {
    grid-area: footer; }

.contenedor-servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 14fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "main-servicios" "footer"; }
  .contenedor-servicios .header {
    grid-area: header; }
  .contenedor-servicios .main-servicios {
    grid-area: main-servicios; }
  .contenedor-servicios .footer {
    grid-area: footer; }

.contenedor-contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 9fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "contactos_main" "footer"; }
  .contenedor-contacto .header {
    grid-area: header; }
  .contenedor-contacto .contactos_main {
    grid-area: contactos_main; }
  .contenedor-contacto .footer {
    grid-area: footer; }

.contenedor-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "nosotros_main" "footer"; }
  .contenedor-nosotros .header {
    grid-area: header; }
  .contenedor-nosotros .nosotros_main {
    grid-area: nosotros_main; }
  .contenedor-nosotros .footer {
    grid-area: footer; }

/*<----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS DE TODO EL SITIO WEB------------------------------------------------------------->*/
/*<---------------------------------- HEADER--------------------------------------->*/
.header {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/fondos/fondo_navegacion.jpg);
  justify-content: space-between;
  height: fit-content; }
  .header .Titulo_Navegacion {
    display: flex;
    width: 100vw;
    justify-content: space-between; }
    .header .Titulo_Navegacion a {
      text-decoration: none;
      display: flex;
      align-items: center; }
      .header .Titulo_Navegacion a .titulo-principal {
        color: black;
        font-size: 1.38rem;
        display: flex;
        align-items: flex-end;
        margin-left: 1rem; }
        .header .Titulo_Navegacion a .titulo-principal #el_nucleo {
          font-size: 2rem;
          margin-bottom: 0px; }
        .header .Titulo_Navegacion a .titulo-principal #cine {
          font-size: 0.8rem;
          position: relative; }
    .header .Titulo_Navegacion .menu-principal {
      display: flex;
      text-align: center; }
      .header .Titulo_Navegacion .menu-principal ul {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        list-style: none; }
        .header .Titulo_Navegacion .menu-principal ul li {
          padding: 0.5rem;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .header .Titulo_Navegacion .menu-principal ul li a {
            text-decoration: none;
            color: black;
            align-items: center; }
            .header .Titulo_Navegacion .menu-principal ul li a h2 {
              font-size: 1.2rem;
              margin-bottom: 0;
              text-align: start;
              padding-top: 0.45rem; }
          .header .Titulo_Navegacion .menu-principal ul li :hover {
            opacity: 0.8;
            transform: scale(1.1);
            -webkit-animation-name: hvr-pulse;
            animation-name: hvr-pulse;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
    .header .Titulo_Navegacion .barra-separadora {
      width: 100vw; }

/*<---------------------------------------------------------FOOTER------------------------------------------------------------>*/
.footer {
  background-image: url(../assets/fondos/fondo_navegacion.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .footer .contenedor-social {
    display: flex;
    justify-content: center;
    text-align: center; }
    .footer .contenedor-social ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0px;
      margin-bottom: 0px; }
      .footer .contenedor-social ul a {
        text-decoration: none;
        padding: 0.4rem 0.4rem 0.4rem 0.4rem; }
        .footer .contenedor-social ul a li {
          display: flex;
          justify-content: center;
          width: 4rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-radius: 17px;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
        .footer .contenedor-social ul a :hover {
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
          -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }
  .footer .derechos {
    display: flex;
    text-align: center;
    height: min-content; }

/*<----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS DE TODO EL SITIO WEB-------FIN------------------------------------------------------>*/
/*<-------------------------------------------------ETIQUETAS DEL INDEX---------------------------->*/
/*<-------------------------------------------------MAIN INDEX---------------------------->*/
.main .foto1 {
  width: 100%; }

.main .foto2 {
  width: 100%; }

.main .logo {
  display: none; }

/*<------------------------------- INDEX ETIQUETAS--FIN--------------------------------------------->*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- NOSOTROS ETIQUETAS -------------------------------------------------------------------->*/
/*<-------------------------------------------------------------------------- ASIDES NOSOTROS---------------------------->*/
