* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*<-------------------------------------------------------------------------------------------------------------------------------- INTRODUZCO FUENTES --------------------------------------------------------------------->*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS GENERALES ---------------------------------------------------------------------------------------------------------->*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

body {
  background-color: aquamarine; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

h1 {
  font-family: 'Rubik Dirt', cursive; }

h2, h3 {
  font-family: 'Rubik Mono One', sans-serif; }

h4, h5, h6 {
  font-family: 'Quicksand', sans-serif; }

p {
  font-family: 'Quicksand', sans-serif; }

body {
  background-color: darkcyan;
  width: 100%; }

/*<------------------- ETIQUETAS DE ANIMACIONES ----------------------->*/
/*<---------------------------------------------------------------------- ETIQUETAS DE GRID -------------------------------------------------------------------------->*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 3.59fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main main" "footer footer "; }
  .contenedor .header {
    grid-area: header; }
  .contenedor .footer {
    grid-area: footer; }
  .contenedor .main {
    grid-area: main; }

.contenedor-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 5gifr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main-nosotros main-nosotros" "footer footer "; }
  .contenedor-nosotros .header {
    grid-area: header; }
  .contenedor-nosotros .main-nosotros {
    grid-area: main-nosotros; }
  .contenedor-nosotros .footer {
    grid-area: footer; }

.contenedor-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 11fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main-servicios main-servicios" "footer footer"; }
  .contenedor-servicios .header {
    grid-area: header; }
  .contenedor-servicios .main-servicios {
    grid-area: main-servicios; }
  .contenedor-servicios .footer {
    grid-area: footer; }

.contenedor-equipo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main-equipo main-equipo" "footer footer "; }
  .contenedor-equipo .header {
    grid-area: header; }
  .contenedor-equipo .main-equipo {
    grid-area: main-equipo; }
  .contenedor-equipo .footer {
    grid-area: footer; }

.contenedor-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 4fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "main-contacto main-contacto" "footer footer"; }
  .contenedor-contacto .header {
    grid-area: header; }
  .contenedor-contacto .main-contacto {
    grid-area: main-contacto; }
  .contenedor-contacto .footer {
    grid-area: footer; }

/*<----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS DE TODO EL SITIO WEB------------------------------------------------------------->*/
/*<---------------------------------- HEADER--------------------------------------->*/
.header {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/fondos/fondo_navegacion.jpg);
  justify-content: space-between;
  height: fit-content; }
  .header .titulo_navegacion {
    display: flex;
    width: 100vw;
    justify-content: space-between; }
    .header .titulo_navegacion a {
      text-decoration: none;
      display: flex;
      align-items: center; }
      .header .titulo_navegacion a .titulo-principal {
        color: black;
        font-size: 1.38rem;
        display: flex;
        align-items: flex-end;
        margin-left: 1rem; }
        .header .titulo_navegacion a .titulo-principal #el_nucleo {
          font-size: 2.5rem;
          margin-bottom: 0px; }
        .header .titulo_navegacion a .titulo-principal #cine {
          font-size: 0.8rem;
          position: relative; }
    .header .titulo_navegacion .menu-principal {
      display: flex;
      text-align: center; }
      .header .titulo_navegacion .menu-principal ul {
        display: flex;
        flex-direction: column;
        margin-right: 6rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        list-style: none;
        padding-left: 12pxs; }
        .header .titulo_navegacion .menu-principal ul li {
          padding: 0.5rem;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .header .titulo_navegacion .menu-principal ul li a {
            text-decoration: none;
            color: black;
            align-items: center; }
            .header .titulo_navegacion .menu-principal ul li a h2 {
              font-size: 1.2rem;
              margin-bottom: 0;
              text-align: start;
              padding-top: 0.45rem; }
          .header .titulo_navegacion .menu-principal ul li:hover {
            opacity: 0.8;
            transform: scale(1.1);
            -webkit-animation-name: hvr-pulse;
            animation-name: hvr-pulse;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
    .header .titulo_navegacion .barra-separadora {
      width: 100vw; }

/*<---------------------------------------------------------FOOTER------------------------------------------------------------>*/
.footer {
  background-image: url(../assets/fondos/fondo_navegacion.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw; }
  .footer .contenedor-social {
    display: flex;
    justify-content: center;
    text-align: center; }
    .footer .contenedor-social ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0px;
      margin-bottom: 0px; }
      .footer .contenedor-social ul a {
        text-decoration: none;
        padding: 0.4rem 0.4rem 0.4rem 0.4rem; }
        .footer .contenedor-social ul a li {
          display: flex;
          justify-content: center;
          width: 4rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-radius: 17px;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
        .footer .contenedor-social ul a:hover {
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
          -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }
  .footer .derechos {
    display: flex;
    text-align: center;
    height: min-content; }

/*<----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS DE TODO EL SITIO WEB-------FIN------------------------------------------------------>*/
/*<-------------------------------------------------ETIQUETAS DEL INDEX---------------------------->*/
/*<-------------------------------------------------MAIN INDEX---------------------------->*/
.main {
  color: #dee2e3; }
  .main .fotos-index {
    height: 100%; }
    .main .fotos-index .foto1 {
      width: 100%;
      height: 25%; }
    .main .fotos-index .foto2 {
      width: 100%;
      height: 25%; }
  .main .logo {
    display: none; }

/*<------------------------------- INDEX ETIQUETAS--FIN--------------------------------------------->*/
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- NOSOTROS ETIQUETAS -------------------------------------------------------------------->*/
/*<-------------------------------------------------------------------------- MAIN NOSOTROS ---------------------------->*/
.main-nosotros {
  background-image: url(../assets/fondos/fondo_main.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  width: 100vw;
  height: 100%; }
  .main-nosotros .nosotros {
    width: 100vw;
    height: 50%;
    background-image: url(../assets/fondos/hexagono.png);
    background-position-x: center;
    background-position-y: center;
    background-size: 27rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .main-nosotros .nosotros h2 {
      position: relative;
      bottom: 2rem;
      font-size: 1.5rem; }
    .main-nosotros .nosotros p {
      font-size: 0.9rem;
      font-weight: bold;
      width: 81%;
      align-self: center; }
  .main-nosotros .vision {
    width: 100vw;
    height: 50%;
    background-image: url(../assets/fondos/hexagono.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .main-nosotros .vision h2 {
      position: relative;
      bottom: 2rem;
      font-size: 1.5rem; }
    .main-nosotros .vision p {
      font-size: 0.9rem;
      font-weight: bold;
      width: 81%;
      align-self: center; }

.aside1-nosotros {
  display: none; }

.aside2-nosotros {
  display: none; }

/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- NOSOTROS ETIQUETAS ---FIN----------------------------------------------------------------->*/
/*<---------------------------------------------------------------------------------------------------------------------------------------------------------------------- SERVICIOS ETIQUETAS --------------------------------------------------------------------->*/
/*<----------------------------------------------- MAIN SERVICIOS -------------------------------------------->*/
.main-servicios {
  background-image: url(../assets/fondos/fondo_main.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100vw; }
  .main-servicios .titulo-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 10px 10px 0.5px 10px #83d2b5;
    border-radius: 25px;
    background-color: #dee2e3;
    color: #2c2d2d; }
    .main-servicios .titulo-servicios:hover {
      color: #dee2e3;
      background-color: #2c2d2d; }
    .main-servicios .titulo-servicios h3 {
      margin-bottom: 0px;
      font-size: 1.3rem;
      padding: 0.5rem; }
  .main-servicios .caja-servicios {
    background-image: url(../assets/fondos/fondo_navegacion.jpg);
    border-radius: 20px;
    border: #1c1d1d solid 7px;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .main-servicios .caja-servicios:hover {
      box-shadow: 10px 10px 40px 10px #83d2b5; }
    .main-servicios .caja-servicios .videoclip-caja {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      .main-servicios .caja-servicios .videoclip-caja h5 {
        font-weight: 900; }
      .main-servicios .caja-servicios .videoclip-caja img {
        width: 80vw; }
    .main-servicios .caja-servicios .publicidad-caja {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      .main-servicios .caja-servicios .publicidad-caja h5 {
        font-weight: 900; }
      .main-servicios .caja-servicios .publicidad-caja img {
        width: 80vw; }
    .main-servicios .caja-servicios .cortometrajes-caja {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      .main-servicios .caja-servicios .cortometrajes-caja h5 {
        font-weight: 900; }
      .main-servicios .caja-servicios .cortometrajes-caja img {
        width: 80vw; }
    .main-servicios .caja-servicios .coberturas-caja {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      .main-servicios .caja-servicios .coberturas-caja h5 {
        font-weight: 900; }
      .main-servicios .caja-servicios .coberturas-caja img {
        width: 80vw; }
  .main-servicios .titulo-backstage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 10px 10px 0.5px 10px #83d2b5;
    border-radius: 25px;
    background-color: #dee2e3;
    color: #2c2d2d; }
    .main-servicios .titulo-backstage:hover {
      color: #dee2e3;
      background-color: #2c2d2d; }
    .main-servicios .titulo-backstage h3 {
      margin-bottom: 0px;
      font-size: 1.3rem;
      padding: 0.5rem; }
  .main-servicios .caja-backstage {
    background-image: url(../assets/fondos/fondo_navegacion.jpg);
    border-radius: 20px;
    border: #1c1d1d solid 7px;
    width: 90%;
    padding-top: 2rem; }
    .main-servicios .caja-backstage:hover {
      box-shadow: 10px 10px 40px 10px #83d2b5; }
    .main-servicios .caja-backstage .galeria-backstage1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;
      justify-content: space-around; }
      .main-servicios .caja-backstage .galeria-backstage1 img {
        width: 80vw; }
    .main-servicios .caja-backstage .galeria-backstage2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;
      justify-content: space-around; }
      .main-servicios .caja-backstage .galeria-backstage2 img {
        width: 80vw; }

.aside1-servicios {
  display: none; }

.aside2-servicios {
  display: none; }

/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- SERVICIOS ETIQUETAS ---FIN----------------------------------------------------------------->*/
/*<----------------------------------- EQUIPO ETIQUETAS ---------------------------------------------->*/
/*<---------------------------------------------- ASIDES EQUIPO--------------------------------------->*/
.aside1-equipo {
  background-image: url(../assets/fondos/esquina.jpeg);
  display: none; }

.aside2-equipo {
  background-image: url(../assets/fondos/esquina.jpeg);
  display: none; }

/*<------------------------------------------------ MAIN EQUIPO--------------------------------------------->*/
.main-equipo {
  background-image: url(../assets/fondos/fondo_main.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100vw; }
  .main-equipo .titulo-equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 10px 10px 0.5px 10px #83d2b5;
    border-radius: 25px;
    background-color: #dee2e3;
    color: #2c2d2d; }
    .main-equipo .titulo-equipo:hover {
      color: #dee2e3;
      background-color: #2c2d2d; }
    .main-equipo .titulo-equipo h3 {
      margin-bottom: 0px;
      font-size: 1.3rem;
      padding: 0.5rem; }
  .main-equipo .fotos-equipo {
    background-image: url(../assets/fondos/fondo_navegacion.jpg);
    border-radius: 20px;
    border: #1c1d1d solid 7px;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .main-equipo .fotos-equipo:hover {
      box-shadow: 10px 10px 40px 10px #83d2b5; }
    .main-equipo .fotos-equipo .fotoynombre {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-equipo .fotos-equipo .fotoynombre a {
        width: min-content; }
      .main-equipo .fotos-equipo .fotoynombre h4 {
        font-weight: 900; }
  .main-equipo .titulo-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 10px 10px 0.5px 10px #83d2b5;
    border-radius: 25px;
    background-color: #dee2e3;
    color: #2c2d2d; }
    .main-equipo .titulo-cliente:hover {
      color: #dee2e3;
      background-color: #2c2d2d; }
    .main-equipo .titulo-cliente h3 {
      margin-bottom: 0px;
      font-size: 1.3rem;
      padding: 0.5rem; }
  .main-equipo .fotos-cliente {
    background-image: url(../assets/fondos/fondo_navegacion.jpg);
    border-radius: 20px;
    border: #1c1d1d solid 7px;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-equipo .fotos-cliente a {
      width: min-content; }
    .main-equipo .fotos-cliente h4 {
      font-weight: 900; }
    .main-equipo .fotos-cliente:hover {
      box-shadow: 10px 10px 40px 10px #83d2b5; }
  .main-equipo .aside1-equipo {
    display: none; }
  .main-equipo .aside2-equipo {
    display: none; }

/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- EQUIPO ETIQUETAS ---FIN----------------------------------------------------------------->*/
/*<----------------------------------- CONTACTO ETIQUETAS ---------------------------------------------->*/
.main-contacto {
  background-image: url(../assets/fondos/fondo_main.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100vw; }
  .main-contacto .caja-contacto {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/fondos/fondo_navegacion.jpg);
    border-radius: 20px;
    border: #1c1d1d solid 7px;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    padding: 1.4rem; }
    .main-contacto .caja-contacto:hover {
      box-shadow: 10px 10px 40px 10px #83d2b5; }
    .main-contacto .caja-contacto .titulo-contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: inset 10px 10px 0.5px 10px #83d2b5;
      border-radius: 25px;
      width: 90%;
      color: #2c2d2d;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
      background-color: #dee2e3; }
      .main-contacto .caja-contacto .titulo-contacto:hover {
        color: #2c2d2d;
        background-color: #dee2e3; }
      .main-contacto .caja-contacto .titulo-contacto h3 {
        margin-bottom: 0px;
        font-size: 1.3rem;
        padding: 0.5rem; }
    .main-contacto .caja-contacto .main-contacto_txt {
      margin-bottom: 0.5rem; }
      .main-contacto .caja-contacto .main-contacto_txt h5 {
        text-align: center; }
        .main-contacto .caja-contacto .main-contacto_txt h5 em {
          font-weight: 600; }
    .main-contacto .caja-contacto .formulario div {
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding: 0.3rem; }

.aside1-contacto {
  display: none; }

.aside2-contacto {
  display: none; }

/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- CONTACTO ETIQUETAS ---FIN----------------------------------------------------------------->*/
/*<------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ETIQUETAS MEDIA PARA GENERAR RESPONSIVIDAD-------------------------------------------------------->*/
@media screen and (min-width: 500px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 5.5fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header" "main main" "footer footer "; }
    .contenedor .header {
      grid-area: header; }
    .contenedor .footer {
      grid-area: footer; }
    .contenedor .main {
      grid-area: main; }
  .main-nosotros .nosotros {
    width: 100vw;
    height: 50%;
    background-image: url(../assets/fondos/hexagono.png);
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .main-nosotros .nosotros h2 {
      position: relative;
      bottom: 4rem; }
    .main-nosotros .nosotros p {
      font-size: 1.2rem;
      font-weight: bold;
      width: 70%;
      text-align: center;
      align-self: center; }
  .main-nosotros .vision .parrafo-vision {
    width: 70%;
    text-align: center;
    align-self: center; }
  .contenedor-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 13fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header" "main-servicios main-servicios" "footer footer"; }
    .contenedor-servicios .header {
      grid-area: header; }
    .contenedor-servicios .main-servicios {
      grid-area: main-servicios; }
    .contenedor-servicios .footer {
      grid-area: footer; }
  .main-servicios .caja-servicios .videoclip-caja img {
    height: 280px; }
  .main-servicios .caja-servicios .publicidad-caja img {
    height: 280px; }
  .main-servicios .caja-servicios .cortometrajes-caja img {
    height: 280px; }
  .main-servicios .caja-servicios .coberturas-caja img {
    height: 280px; }
  .main-servicios .caja-backstage .galeria-backstage1 img {
    height: 280px; }
  .main-servicios .caja-backstage .galeria-backstage2 img {
    height: 280px; } }

/*<--------------------------------------------- RESPONSIVIDAD EN TABLETS ----------------------------------------------------------->*/
@media screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 4fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header" "main main" "footer footer"; }
    .contenedor .header {
      grid-area: header; }
    .contenedor .footer {
      grid-area: footer; }
    .contenedor .main {
      grid-area: main; }
  .header {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/fondos/fondo_navegacion.jpg);
    justify-content: space-between;
    height: fit-content; }
    .header .titulo_navegacion {
      display: flex;
      flex-direction: column;
      width: 100vw;
      justify-content: space-between; }
      .header .titulo_navegacion a .titulo-principal {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: 0.7rem; }
      .header .titulo_navegacion .menu-principal ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%; }
  .contenedor-nosotros {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 9fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas: "header header header" "aside1-nosotros main-nosotros aside2-nosotros" "footer footer footer"; }
    .contenedor-nosotros .header {
      grid-area: header; }
    .contenedor-nosotros .main-nosotros {
      grid-area: main-nosotros; }
    .contenedor-nosotros .aside1-nosotros {
      grid-area: aside1-nosotros; }
    .contenedor-nosotros .aside2-nosotros {
      grid-area: aside2-nosotros; }
    .contenedor-nosotros .footer {
      grid-area: footer; }
    .contenedor-nosotros .aside1-nosotros {
      display: flex;
      background-image: url(../assets/fondos/esquina.jpeg); }
    .contenedor-nosotros .aside2-nosotros {
      display: block;
      background-image: url(../assets/fondos/esquina.jpeg); }
    .contenedor-nosotros .main-nosotros {
      background-color: #dee2e3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%; }
      .contenedor-nosotros .main-nosotros .nosotros {
        width: 100%;
        height: 50%;
        background-image: url(../assets/fondos/hexagono.png);
        background-position-x: center;
        background-position-y: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden; }
        .contenedor-nosotros .main-nosotros .nosotros h2 {
          position: relative;
          bottom: 4rem; }
        .contenedor-nosotros .main-nosotros .nosotros p {
          font-size: 1.2rem;
          font-weight: bold; }
      .contenedor-nosotros .main-nosotros .vision {
        width: 100%;
        height: 50%;
        background-image: url(../assets/fondos/hexagono.png);
        background-position-x: center;
        background-position-y: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden; }
        .contenedor-nosotros .main-nosotros .vision h2 {
          position: relative;
          bottom: 4rem; }
        .contenedor-nosotros .main-nosotros .vision p {
          font-size: 1.2rem;
          font-weight: bold; }
  .contenedor-servicios {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 21fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "aside1-servicios main-servicios aside2-servicios" "footer footer footer"; }
    .contenedor-servicios .header {
      grid-area: header; }
    .contenedor-servicios .main-servicios {
      grid-area: main-servicios; }
    .contenedor-servicios .aside1-servicios {
      grid-area: aside1-servicios; }
    .contenedor-servicios .aside2-servicios {
      grid-area: aside2-servicios; }
    .contenedor-servicios .footer {
      grid-area: footer; }
    .contenedor-servicios .main-servicios {
      background-color: #dee2e3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%; }
      .contenedor-servicios .main-servicios .caja-servicios {
        background-image: url(../assets/fondos/fondo_navegacion.jpg);
        border-radius: 20px;
        border: #1c1d1d solid 7px;
        width: 90%;
        padding-top: 2rem;
        padding-bottom: 2rem; }
        .contenedor-servicios .main-servicios .caja-servicios:hover {
          box-shadow: 10px 10px 40px 10px #83d2b5; }
        .contenedor-servicios .main-servicios .caja-servicios .videoclip-caja {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center; }
          .contenedor-servicios .main-servicios .caja-servicios .videoclip-caja h5 {
            font-weight: 900; }
          .contenedor-servicios .main-servicios .caja-servicios .videoclip-caja img {
            width: 60vw; }
        .contenedor-servicios .main-servicios .caja-servicios .publicidad-caja {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center; }
          .contenedor-servicios .main-servicios .caja-servicios .publicidad-caja h5 {
            font-weight: 900; }
          .contenedor-servicios .main-servicios .caja-servicios .publicidad-caja img {
            width: 60vw; }
        .contenedor-servicios .main-servicios .caja-servicios .cortometrajes-caja {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center; }
          .contenedor-servicios .main-servicios .caja-servicios .cortometrajes-caja h5 {
            font-weight: 900; }
          .contenedor-servicios .main-servicios .caja-servicios .cortometrajes-caja img {
            width: 60vw; }
        .contenedor-servicios .main-servicios .caja-servicios .coberturas-caja {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center; }
          .contenedor-servicios .main-servicios .caja-servicios .coberturas-caja h5 {
            font-weight: 900; }
          .contenedor-servicios .main-servicios .caja-servicios .coberturas-caja img {
            width: 60vw; }
      .contenedor-servicios .main-servicios .caja-backstage {
        background-image: url(../assets/fondos/fondo_navegacion.jpg);
        border-radius: 20px;
        border: #1c1d1d solid 7px;
        width: 90%;
        padding-top: 2rem; }
        .contenedor-servicios .main-servicios .caja-backstage:hover {
          box-shadow: 10px 10px 40px 10px #83d2b5; }
        .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 2rem;
          justify-content: space-around; }
          .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage1 img {
            width: 60vw; }
        .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 2rem;
          justify-content: space-around; }
          .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage2 img {
            width: 60vw; }
    .contenedor-servicios .aside1-servicios {
      display: inline-block;
      background-image: url(../assets/fondos/esquina.jpeg); }
    .contenedor-servicios .aside2-servicios {
      display: block;
      background-image: url(../assets/fondos/esquina.jpeg); }
  .contenedor-equipo {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 10fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "aside1-equipo main-equipo aside2-equipo" "footer footer footer"; }
    .contenedor-equipo .header {
      grid-area: header; }
    .contenedor-equipo .aside1-equipo {
      grid-area: aside1-equipo; }
    .contenedor-equipo .aside2-equipo {
      grid-area: aside2-equipo; }
    .contenedor-equipo .main-equipo {
      grid-area: main-equipo; }
    .contenedor-equipo .footer {
      grid-area: footer; }
    .contenedor-equipo .main-equipo {
      background-color: #dee2e3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%; }
    .contenedor-equipo .aside1-equipo {
      display: flex;
      background-image: url(../assets/fondos/esquina.jpeg); }
    .contenedor-equipo .aside2-equipo {
      display: flex;
      background-image: url(../assets/fondos/esquina.jpeg); }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 7fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "aside1-contacto main-contacto aside2-contacto" "footer footer footer"; }
    .contenedor-contacto .header {
      grid-area: header; }
    .contenedor-contacto .main-contacto {
      grid-area: main-contacto; }
    .contenedor-contacto .aside1-contacto {
      grid-area: aside1-contacto; }
    .contenedor-contacto .aside2-contacto {
      grid-area: aside2-contacto; }
    .contenedor-contacto .footer {
      grid-area: footer; }
    .contenedor-contacto .main-contacto {
      background-color: #dee2e3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%; }
    .contenedor-contacto .aside1-contacto {
      display: flex;
      background-image: url(../assets/fondos/esquina.jpeg); }
    .contenedor-contacto .aside2-contacto {
      display: flex;
      background-image: url(../assets/fondos/esquina.jpeg); } }

@media screen and (min-width: 992px) {
  .header {
    display: flex; }
    .header .titulo_navegacion {
      display: flex;
      flex-direction: row; }
      .header .titulo_navegacion a {
        display: flex;
        flex-direction: column; }
        .header .titulo_navegacion a .titulo-principal h1 {
          position: relative;
          bottom: 0.7rem; }
      .header .titulo_navegacion .menu-principal {
        width: 73vw; }
        .header .titulo_navegacion .menu-principal ul {
          display: flex;
          flex-direction: row;
          width: 100%;
          margin: 0;
          padding-left: 1rem; }
  .footer {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between; }
    .footer .contenedor-social {
      width: 50vw;
      display: flex;
      justify-content: flex-start;
      padding-left: 2rem; }
    .footer .derechos {
      width: 50vw;
      display: flex;
      justify-content: flex-end;
      padding-right: 2rem; }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 7.65fr 0.35fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
    .contenedor .header {
      grid-area: header; }
    .contenedor .footer {
      grid-area: footer; }
    .contenedor .main {
      grid-area: main; }
    .contenedor .main {
      color: #dee2e3;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedor .main .fotos-index {
        height: 100%;
        display: flex;
        flex-wrap: wrap; }
        .contenedor .main .fotos-index .foto1 {
          width: 50%;
          height: 50%; }
        .contenedor .main .fotos-index .foto2 {
          width: 50%;
          height: 50%; }
      .contenedor .main .logo {
        display: flex;
        width: 100%;
        position: absolute;
        justify-content: center;
        align-items: center; }
  .contenedor-nosotros {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 20fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas: "header header header" "aside1-nosotros main-nosotros aside2-nosotros" "footer footer footer"; }
    .contenedor-nosotros .header {
      grid-area: header; }
    .contenedor-nosotros .main-nosotros {
      grid-area: main-nosotros; }
    .contenedor-nosotros .aside1-nosotros {
      grid-area: aside1-nosotros; }
    .contenedor-nosotros .aside2-nosotros {
      grid-area: aside2-nosotros; }
    .contenedor-nosotros .footer {
      grid-area: footer; }
    .contenedor-nosotros .main-nosotros {
      background-color: #dee2e3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: fit-content;
      width: 100%;
      height: 100%; }
      .contenedor-nosotros .main-nosotros .nosotros {
        width: 100%; }
        .contenedor-nosotros .main-nosotros .nosotros p {
          width: 50%; }
      .contenedor-nosotros .main-nosotros .vision {
        width: 100%; }
        .contenedor-nosotros .main-nosotros .vision p {
          width: 50%; }
  .contenedor-servicios {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 25fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "aside1-servicios main-servicios aside2-servicios" "footer footer footer"; }
    .contenedor-servicios .header {
      grid-area: header; }
    .contenedor-servicios .main-servicios {
      grid-area: main-servicios; }
    .contenedor-servicios .aside1-servicios {
      grid-area: aside1-servicios; }
    .contenedor-servicios .aside2-servicios {
      grid-area: aside2-servicios; }
    .contenedor-servicios .footer {
      grid-area: footer; }
    .contenedor-servicios .main-servicios {
      background-color: #dee2e3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%; }
      .contenedor-servicios .main-servicios .caja-servicios {
        display: flex;
        flex-wrap: wrap;
        width: 85%; }
        .contenedor-servicios .main-servicios .caja-servicios .videoclip-caja {
          width: 50%; }
          .contenedor-servicios .main-servicios .caja-servicios .videoclip-caja img {
            width: 90%;
            height: 100%; }
        .contenedor-servicios .main-servicios .caja-servicios .publicidad-caja {
          width: 50%; }
          .contenedor-servicios .main-servicios .caja-servicios .publicidad-caja img {
            width: 90%;
            height: 100%; }
        .contenedor-servicios .main-servicios .caja-servicios .cortometrajes-caja {
          width: 50%; }
          .contenedor-servicios .main-servicios .caja-servicios .cortometrajes-caja img {
            width: 90%;
            height: 100%; }
        .contenedor-servicios .main-servicios .caja-servicios .coberturas-caja {
          width: 50%; }
          .contenedor-servicios .main-servicios .caja-servicios .coberturas-caja img {
            width: 90%;
            height: 100%; }
      .contenedor-servicios .main-servicios .caja-backstage {
        display: flex;
        flex-wrap: wrap;
        width: 85%; }
        .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage1 {
          width: 50%; }
          .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage1 img {
            width: 95%; }
        .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage2 {
          width: 50%; }
          .contenedor-servicios .main-servicios .caja-backstage .galeria-backstage2 img {
            width: 95%; }
  .contenedor-equipo {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 15fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "aside1-equipo main-equipo aside2-equipo" "footer footer footer"; }
    .contenedor-equipo .header {
      grid-area: header; }
    .contenedor-equipo .aside1-equipo {
      grid-area: aside1-equipo; }
    .contenedor-equipo .aside2-equipo {
      grid-area: aside2-equipo; }
    .contenedor-equipo .main-equipo {
      grid-area: main-equipo; }
    .contenedor-equipo .footer {
      grid-area: footer; }
    .contenedor-equipo .main-equipo .fotos-equipo {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 75%; }
    .contenedor-equipo .main-equipo .fotos-cliente {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 75%; }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr;
    grid-template-rows: 0.2fr 12fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "aside1-contacto main-contacto aside2-contacto" "footer footer footer"; }
    .contenedor-contacto .header {
      grid-area: header; }
    .contenedor-contacto .main-contacto {
      grid-area: main-contacto; }
    .contenedor-contacto .aside1-contacto {
      grid-area: aside1-contacto; }
    .contenedor-contacto .aside2-contacto {
      grid-area: aside2-contacto; }
    .contenedor-contacto .footer {
      grid-area: footer; }
    .contenedor-contacto .main-contacto .caja-contacto {
      height: 90%;
      width: 85%; } }

@media screen and (min-width: 1200px) and (min-width: 1300px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 7.6fr 0.35fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
    .contenedor .header {
      grid-area: header; }
    .contenedor .footer {
      grid-area: footer; }
    .contenedor .main {
      grid-area: main; } }

@media screen and (min-width: 1300px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 4fr 0.35fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
    .contenedor .header {
      grid-area: header; }
    .contenedor .footer {
      grid-area: footer; }
    .contenedor .main {
      grid-area: main; } }
