
.main-contacto{

    background-color: $color_main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100vw;

    .caja-contacto{

        display: flex;
        flex-direction: column;
        background-image: url(../assets/fondos/fondo_navegacion.jpg);
        border-radius: 20px;
        border: #1c1d1d solid 7px;
        width: 90%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-items: center;
        padding: 1.4rem;

        &:hover{
            box-shadow: 10px 10px 40px 10px $color_nucleo;
            
        }

        .titulo-contacto{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: inset 10px 10px 0.5px 10px $color_nucleo;
            border-radius: 25px;
            width: 90%;
            color:$color_main;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 2rem;

            &:hover{
                color:$color_subtitulo;
                background-color: $color_main;
            }

            h3{
            
                margin-bottom: 0px;
                font-size: 1.3rem;
                padding: 0.5rem;
            }

        }

        .main-contacto_txt{
            margin-bottom: 0.5rem;

            h5{
                text-align: center;
                em{
                    font-weight: 600;
                }
            }


        }

        .formulario{

            div{
                display: flex;
                justify-content: space-between;
                width: 90%;
                padding: 0.3rem;

            } 
            
        }

    }

}

.aside1-contacto{
    display: none;
}

.aside2-contacto{
    display: none;
}