.footer {
    background-image: url(../assets/fondos/fondo_navegacion.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    
    .contenedor-social{
        display: flex;
        justify-content: center;
        text-align: center;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0px;
            margin-bottom: 0px;
            
            a{
                text-decoration: none;
                padding: 0.4rem 0.4rem 0.4rem 0.4rem;
                
                li{
                    display: flex;
                    justify-content: center;
                    width: 4rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border-radius: 17px ;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    -webkit-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                    
                    
                }
                &:hover{
                    -webkit-transform: scale(0.8);
                    transform: scale(0.8);
                    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                }
            }

        }


    }

    .derechos{
        display: flex;
        text-align: center;
        height: min-content;
    }
}