.header{
    display: flex;
    flex-direction: column;
    background-image:url(../assets/fondos/fondo_navegacion.jpg);
    justify-content: space-between;
    height: 100%;
    .titulo_navegacion{
        display: flex;
        width: 100vw;
        justify-content: space-between;
        height: 100%;

        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            width: 50%;
            justify-content: center;


            .titulo-principal{
                color: black;
                font-size: 1.38rem;
                display: flex;
                align-items: flex-end;
                margin-left: 1rem;
                #el_nucleo{
                    font-size: 2.5rem;
                    margin-bottom: 0px;
                }
                
                #cine{
                    font-size: 0.8rem;
                    
                    
                }
            

            }

           
        }
        
        .navbar{
            width: 50%;
            display: flex;
            padding: 0px;
            height: 100%;
            align-items: center;

            button{
                margin-left: 30%;
                position: relative;
                top:0.2rem;
            }

            .navbar-nav{
                position: relative;
                left: 2rem;
                
                
                .nav-item{
                    a{
                        text-align: center;
                        width: 100%;
                        h2{
                            font-size: 0.9rem;
                        }
                    }
                    
                }
            }
        }
        
        .barra-separadora{
            width: 100vw;
          
        }
    
    }
}