//VARIABLES GLOBALES//

$color_main:#2c2d2d;
$color_subtitulo: #dee2e3; 
$color_nucleo: #7cccd8;

//FUNCIONES GLOBALES//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*<-------------------------------------------------------------------------------------------------------------------------------- INTRODUZCO FUENTES --------------------------------------------------------------------->*/

/*<--------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS GENERALES ---------------------------------------------------------------------------------------------------------->*/

@import "etiquetas_generales";


/*<------------------- ETIQUETAS DE ANIMACIONES ----------------------->*/


/*<---------------------------------------------------------------------- ETIQUETAS DE GRID -------------------------------------------------------------------------->*/

@import "grid_estilo";

/*<----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS DE TODO EL SITIO WEB------------------------------------------------------------->*/

/*<---------------------------------- HEADER--------------------------------------->*/

@import "header";

/*<---------------------------------------------------------FOOTER------------------------------------------------------------>*/

@import "footer";

/*<----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ETIQUETAS DE TODO EL SITIO WEB-------FIN------------------------------------------------------>*/

/*<-------------------------------------------------ETIQUETAS DEL INDEX---------------------------->*/

/*<-------------------------------------------------MAIN INDEX---------------------------->*/

@import "index-etiquetas";

/*<------------------------------- INDEX ETIQUETAS--FIN--------------------------------------------->*/

/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- NOSOTROS ETIQUETAS -------------------------------------------------------------------->*/

/*<-------------------------------------------------------------------------- MAIN NOSOTROS ---------------------------->*/

@import "nosotros-etiquetas";

/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- NOSOTROS ETIQUETAS ---FIN----------------------------------------------------------------->*/

/*<---------------------------------------------------------------------------------------------------------------------------------------------------------------------- SERVICIOS ETIQUETAS --------------------------------------------------------------------->*/




/*<----------------------------------------------- MAIN SERVICIOS -------------------------------------------->*/


@import "servicios-etiquetas";

/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- SERVICIOS ETIQUETAS ---FIN----------------------------------------------------------------->*/

/*<----------------------------------- EQUIPO ETIQUETAS ---------------------------------------------->*/



/*<---------------------------------------------- ASIDES EQUIPO--------------------------------------->*/

.aside1-equipo{
    background-image: url(../assets/fondos/esquina.jpeg);
    display: none;
    
}
.aside2-equipo{
    background-image: url(../assets/fondos/esquina.jpeg);
    display: none;
    
}

/*<------------------------------------------------ MAIN EQUIPO--------------------------------------------->*/

@import "equipo-etiquetas";
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- EQUIPO ETIQUETAS ---FIN----------------------------------------------------------------->*/

/*<----------------------------------- CONTACTO ETIQUETAS ---------------------------------------------->*/

@import "contacto-etiquetas";
/*<--------------------------------------------------------------------------------------------------------------------------------------------------------------------- CONTACTO ETIQUETAS ---FIN----------------------------------------------------------------->*/

/*<------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ETIQUETAS MEDIA PARA GENERAR RESPONSIVIDAD-------------------------------------------------------->*/



@import "responsive-etiquetas";