<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Keywords o palabras clave -->
        
        <meta name="description" content="Sitio web destinado a un grupo de emprendedores en la industria del cine y las artes audiovisuales, donde se ofrecen sus servicios para eventos o contrataciones particulares">
        <meta name="keywords"  content="Cine, Audiovisual, productora, productora de cine, productora audiovisual, productor,videoclips, coberturas">
        
        <!-- CSS de Bootstrap -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <!-- CSS Propio -->

        <link rel="stylesheet" href="../css/estilo.css">

        <!-- Fuentes -->

        

        <!-- Titulo Principal -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">

        <!-- Titulos -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

        <!-- Textos -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">



        <!-- FavIcon de la página -->

        <link rel="shortcut icon" href="../assets/recursos/logo.png">

        <!-- Iconos de Redes Sociales -->

        <script src="https://kit.fontawesome.com/68504e3ff4.js" crossorigin="anonymous"></script>

        <!-- Animaciones-->

        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

        <!-- Título de la página-->

        <title>El núcleo | Producciones-Servicios</title>

    </head>
    <body>
        <!-- Contenedor de Grid-->

        <div class="contenedor-servicios">

            <!-- Entrando al Header-->
            <header class="header">


                <section class="titulo_navegacion">

                    <!-- Titulo Principal-->

                    <a href="../index.html">

                        <div class="titulo-principal">

                            <h1 class="animate__animated animate__backInRight" id="el_nucleo">El Núcleo
                            </h1>

                            <h2 class="animate__animated animate__bounce" id="cine">CINE
                            </h2>

                        </div>
                    </a>

                    <!-- Barra de navegación-->

                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                            
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                              <ul class="navbar-nav">
                                <li class="nav-item">
                                  <a class="nav-link " aria-current="page" href="../index.html"><h2>Inicio</h2></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="../views/nosotros.html"><h2>Nosotros</h2></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link active" href="../views/servicios.html"><h2>Servicios</h2></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../views/equipo.html"><h2>Equipo</h2></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="../views/contacto.html"><h2>Contacto</h2></a>
                                  </li>
                              </ul>
                            </div>
                          </div>
                    </nav>
                </section>

                <!-- Barra separadora Header/Main-->

                <section class="barra-separadora">
                    <img src="../assets/recursos/barraSeparadora.png" alt="Barra separadora">
                </section>

            </header>

            <!-- Aside1 -->

            <aside1 class="aside1-servicios">

            </aside1>

            <!-- Aside2 -->

            <aside2 class="aside2-servicios">

            </aside2>

            <!-- Entrando al Main-->

            <main class="main-servicios">

                <!-- Titulo de Servicios Ofrecidos-->

                <section class="titulo-servicios">

                    <h3>Servicios Ofrecidos</h3>

                </section>

                <!-- Caja de Servicios Ofrecidos-->

                <div class="caja-servicios">

                    <!-- Subtitulos 1 -->
                    
                    <section class="videoclip-caja">

                        <h5>Videoclips</h5>

                        <img src="../assets/recursos/fotos-servicios/fotoAnimacion.jpg" width="50%" height="210px" alt="Foto Videoclips">


                    </section>

                    <!-- Imagenes 1 -->

                    <section class="publicidad-caja">

                        <h5>Publicidad</h5>

                        <img src="../assets/recursos/fotos-servicios/fotoPublicidad.jpg" width="50%"  height="210px" alt="Foto Publicidad">

                    </section>

                    <!-- Subtitulos 2 -->

                    <section class="cortometrajes-caja">

                        <h5>Cortometrajes</h5>

                        <img src="../assets/recursos/fotos-servicios/fotoCorto.jpg"  height="210px" width="50%" alt="Foto Cortometraje">

                        

                    </section>

                    <!-- Imagenes 2 -->

                    <section class="coberturas-caja">

                        <h5>Coberturas</h5>

                        <img src="../assets/recursos/fotos-servicios/fotoEventos.jpg" width="50%" height="210px" alt="Foto Coberturas">

                    </section>

                </div>
                
                <section class="titulo-backstage">

                    <h3>Galería Backstage</h3>

                </section>

                <!-- Caja de la Galería Backstage-->

                <div class="caja-backstage">

                    <section class="galeria-backstage1">

                        <img src="../assets/recursos/fotos-backstage/fotoBackstage1.jpg" width="400px" height="210px" alt="backstage1">

                        <img src="../assets/recursos/fotos-backstage/fotoBackstage2.jpg" width="400px" height="210px" alt="backstage2">

                    </section>

                    <section class="galeria-backstage2">

                        <img src="../assets/recursos/fotos-backstage/fotoBackstage3.jpg" width="400px" height="210px" alt="backstage3">

                        <img src="../assets/recursos/fotos-backstage/fotoBackstage4.jpg" width="400px" height="210px"alt="backstage4">

                    </section>

                </div>

            </main>

            <!-- Entrando al Footer-->

            <footer class="footer">

                <!-- Contenedor de Redes Sociales-->
                <section class="contenedor-social">
        
                    <!-- Lista de redes sociales -->
        
                    <ul class="menu-social">
        
                        <!-- Elementos -->
        
                        <a href="https://www.facebook.com/">
        
                            <li style="background-color: #3b5998;color: white;">
        
                                <i class="fa-brands fa-facebook-f"></i>
        
                            </li>
        
                        </a>
        
                        <a href="https://www.youtube.com">
        
                            <li style="background-color:#c4302b;color:white">
        
                                <i class="fa-brands fa-youtube"></i>
        
                            </li>
        
                        </a>
                        
                        <a href="https://www.instagram.com">
                            <li style="background: #d6249f;background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); color:white">
        
                                <i class="fa-brands fa-instagram"></i>
        
                            </li>
        
                        </a>
        
                        <a href="https://www.vimeo.com">
        
                            <li style="background-color: #86c9ef;color: white;">
        
                                <i class="fa-brands fa-vimeo"></i>
        
                            </li>
        
                        </a>
                    
                            
                        <a href="https://www.twitter.com">
        
                            <li style="color:#00acee; background-color: white">
        
                                <i class="fa-brands fa-twitter"></i>
        
                            </li>
                        </a>
        
                        
                    </ul>
                </section>
                
                <!-- Derechos reservados de la página-->
        
                <section class="derechos">
        
                    <h5>© Todos los derechos reservados -Enzo Pinotti-</h5>
        
                </section>
        
            </footer>
            
        </div>

        <!-- Scrip para ver animaciones con scroleo -->


        <script src="js/wow.min.js"></script>
        <script>
        new WOW().init();
        </script>

        <!-- JavaScript de Boostrap-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    </body>
</html>